/*
 * Grid v0.1
 * @info: Only use grid with SCSS - Add classes to relevent elements with @extend, for example: header { @extend .container; }
 */
:root {
	--gutter-x: 1.25rem;
	/* --gutter-x: 1.875rem; */

}

@media (min-width: 576px) {
	:root {
		--gutter-x: 1.875rem;
	}
}

.container,
.container-full {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-right: var(--gutter-x, 40px);
	padding-left: var(--gutter-x, 40px);
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(var(--gutter-x) / -2);
	margin-right: calc(var(--gutter-x) / -2);
}

.row > * {
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--gutter-x) / 2);
	padding-left: calc(var(--gutter-x) / 2);
}

.g-0 {
	--gutter-x: 0;
}
.g-1 {
	--gutter-x: 1.875rem;
}

.col {
	flex: 1 0 0%;
}

.col-auto {
	flex: none; /* equivalent to 'flex: 0 0 auto;' */
	width: auto;
}

.col-1 {
	flex: none;
	width: calc(100% / 12);
}

.col-2 {
	flex: none;
	width: calc(100% / 12 * 2);
}

.col-3 {
	flex: none;
	width: calc(100% / 12 * 3);
}

.col-4 {
	flex: none;
	width: calc(100% / 12 * 4);
}

.col-5 {
	flex: none;
	width: calc(100% / 12 * 5);
}

.col-6 {
	flex: none;
	width: calc(100% / 12 * 6);
}

.col-7 {
	flex: none;
	width: calc(100% / 12 * 7);
}

.col-8 {
	flex: none;
	width: calc(100% / 12 * 8);
}

.col-9 {
	flex: none;
	width: calc(100% / 12 * 9);
}

.col-10 {
	flex: none;
	width: calc(100% / 12 * 10);
}

.col-11 {
	flex: none;
	width: calc(100% / 12 * 11);
}

.col-12 {
	flex: none;
	width: 100%;
}

@media (min-width: 576px) {
	.col-sm {
		flex: 1 0 0%;
	}

	.col-sm-auto {
		flex: none; /* equivalent to 'flex: 0 0 auto;' */
		width: auto;
	}

	.col-sm-1 {
		flex: none;
		width: calc(100% / 12);
	}

	.col-sm-2 {
		flex: none;
		width: calc(100% / 12 * 2);
	}

	.col-sm-3 {
		flex: none;
		width: calc(100% / 12 * 3);
	}

	.col-sm-4 {
		flex: none;
		width: calc(100% / 12 * 4);
	}

	.col-sm-5 {
		flex: none;
		width: calc(100% / 12 * 5);
	}

	.col-sm-6 {
		flex: none;
		width: calc(100% / 12 * 6);
	}

	.col-sm-7 {
		flex: none;
		width: calc(100% / 12 * 7);
	}

	.col-sm-8 {
		flex: none;
		width: calc(100% / 12 * 8);
	}

	.col-sm-9 {
		flex: none;
		width: calc(100% / 12 * 9);
	}

	.col-sm-10 {
		flex: none;
		width: calc(100% / 12 * 10);
	}

	.col-sm-11 {
		flex: none;
		width: calc(100% / 12 * 11);
	}

	.col-sm-12 {
		flex: none;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.col-md {
		flex: 1 0 0%;
	}

	.col-md-auto {
		flex: none;
		width: auto;
	}

	.col-md-1 {
		flex: none;
		width: calc(100% / 12);
	}

	.col-md-2 {
		flex: none;
		width: calc(100% / 12 * 2);
	}

	.col-md-3 {
		flex: none;
		width: calc(100% / 12 * 3);
	}

	.col-md-4 {
		flex: none;
		width: calc(100% / 12 * 4);
	}

	.col-md-5 {
		flex: none;
		width: calc(100% / 12 * 5);
	}

	.col-md-6 {
		flex: none;
		width: calc(100% / 12 * 6);
	}

	.col-md-7 {
		flex: none;
		width: calc(100% / 12 * 7);
	}

	.col-md-8 {
		flex: none;
		width: calc(100% / 12 * 8);
	}

	.col-md-9 {
		flex: none;
		width: calc(100% / 12 * 9);
	}

	.col-md-10 {
		flex: none;
		width: calc(100% / 12 * 10);
	}

	.col-md-11 {
		flex: none;
		width: calc(100% / 12 * 11);
	}

	.col-md-12 {
		flex: none;
		width: 100%;
	}
}

@media (min-width: 992px) {
	.col-lg {
		flex: 1 0 0%;
	}

	.col-lg-auto {
		flex: none;
		width: auto;
	}

	.col-lg-1 {
		flex: none;
		width: calc(100% / 12);
	}

	.col-lg-2 {
		flex: none;
		width: calc(100% / 12 * 2);
	}

	.col-lg-3 {
		flex: none;
		width: calc(100% / 12 * 3);
	}

	.col-lg-4 {
		flex: none;
		width: calc(100% / 12 * 4);
	}

	.col-lg-5 {
		flex: none;
		width: calc(100% / 12 * 5);
	}

	.col-lg-6 {
		flex: none;
		width: calc(100% / 12 * 6);
	}

	.col-lg-7 {
		flex: none;
		width: calc(100% / 12 * 7);
	}

	.col-lg-8 {
		flex: none;
		width: calc(100% / 12 * 8);
	}

	.col-lg-9 {
		flex: none;
		width: calc(100% / 12 * 9);
	}

	.col-lg-10 {
		flex: none;
		width: calc(100% / 12 * 10);
	}

	.col-lg-11 {
		flex: none;
		width: calc(100% / 12 * 11);
	}

	.col-lg-12 {
		flex: none;
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.col-xl {
		flex: 1 0 0%;
	}

	.col-xl-auto {
		flex: none;
		width: auto;
	}

	.col-xl-1 {
		flex: none;
		width: calc(100% / 12);
	}

	.col-xl-2 {
		flex: none;
		width: calc(100% / 12 * 2);
	}

	.col-xl-3 {
		flex: none;
		width: calc(100% / 12 * 3);
	}

	.col-xl-4 {
		flex: none;
		width: calc(100% / 12 * 4);
	}

	.col-xl-5 {
		flex: none;
		width: calc(100% / 12 * 5);
	}

	.col-xl-6 {
		flex: none;
		width: calc(100% / 12 * 6);
	}

	.col-xl-7 {
		flex: none;
		width: calc(100% / 12 * 7);
	}

	.col-xl-8 {
		flex: none;
		width: calc(100% / 12 * 8);
	}

	.col-xl-9 {
		flex: none;
		width: calc(100% / 12 * 9);
	}

	.col-xl-10 {
		flex: none;
		width: calc(100% / 12 * 10);
	}

	.col-xl-11 {
		flex: none;
		width: calc(100% / 12 * 11);
	}

	.col-xl-12 {
		flex: none;
		width: 100%;
	}
}
